<style>
  input[type=checkbox]:checked + label {
    text-decoration:line-through
  }
</style>

<div class="text-lg mt-4" >
  {{name}}
</div>

{{#each items}}
<div>
  <form method="POST" action="/todoitems/{{ownerId}}/edit">
  {{#if complete}}
    <input disabled type="checkbox" checked>
    {{else}}
    <input disabled type="checkbox">
    {{/if}}
  <input name="itemId" hidden value="{{itemId}}">
  <input name="complete" hidden value="{{complete}}">

    <button class="ml-2 text-gray-700" for="{{itemId}}">{{name}}</button>
    </form>
</div>
{{/each}}

<form method="POST" action="/todoitems/{{listId}}/add">
  <input name="name" placeholder="Add new item">
  <button class="rounded border-2 px-2 text-gray-700" >+</button>
</form>


