
<div class="text-lg mt-4" >
  {{name}}
</div>

{{#each items}}
<div>
    <input type="checkbox" id="{{itemId}}" name="{{itemId}}">
    <label for="{{itemId}}">{{name}}</label>
</div>
{{/each}}

<form method="POST" action="/todoitems/{{listId}}/add">
  <input name="name" placeholder="Add new item">
  <button>Submit</button>
</form>


