<style>
  input[type=checkbox]:checked + label {
    text-decoration:line-through
  }
</style>

<div class="text-lg mt-4" >
  {{name}}
</div>

{{#each items}}
<div>
    <input type="checkbox" id="{{itemId}}" name="{{itemId}}">
    <label class="ml-2 text-gray-700" for="{{itemId}}">{{name}}</label>
</div>
{{/each}}

<form method="POST" action="/todoitems/{{listId}}/add">
  <input name="name" placeholder="Add new item">
  <button class="rounded border-2 px-2 text-gray-700" >+</button>
</form>


